/*Full doc*/

html,
body,
.header.container {
    font-family: 'Julius Sans One', sans-serif;
    height: 100%;
    color: #333 !important;
}

.flexrow {
    display: flex;
    height: 50%;
}

.align-items-end {
    align-items: flex-end;
}

.white {
    color: #fefff6;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 14pt;
}

a:hover {
    color: #fefff6;
}

a:focus {
    color: #fefff6;
}

main {
    width: 100% !important;
    background: #fefff6;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.letter-spaced {
    letter-spacing: .3em;
}


/*Header*/

header {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../img/as8nzKo.jpg');
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../img/as8nzKo.jpg');
    background-attachment: fixed;
    background-position: center;
}

header a {
    font-size: 1.4em
}

.title-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-title {
    height: 62%;
}

.nav-div {
    width: 100%;
    /*position: fixed;
    bottom: 0;*/
    padding: 11px;
    /*z-index: 100000;
    background: #2c4e4b;*/
    margin-top: -55px;
}

.fix-nav {
    position: fixed !important;
    top: 55px;
    z-index: 1000000;
    background: black;
    background-image: url('../img/as8nzKo.jpg');
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../img/as8nzKo.jpg');
    background-position: left top;
}

.main-title h1 {
    letter-spacing: .4em;
    font-size: 3.7em;
}

.main-title h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter !important;
    margin-top: 0px !important;
}


/*Footer*/

footer {
    background: #2c4e4b;
    height: 50px;
}


/*contact*/

.contact-wrapper {
    height: 686px;
    margin-left: 12% !important;
    padding-left: 0 !important;
}

.contact-wrapper h2 {
    margin-top: 41px;
}

.contact {
    height: 300px;
}

.contact a {
    color: #333;
}

.contact a:hover {
    color: #333;
}

.contact-info {
    margin-top: 50px;
}

.contact-info span {
    font-family: 'Open Sans', sans-serif;
}

.btn {
    background: #0e1e23;
    color: white;
    border-radius: 0;
}

.form-control {
    border-radius: 0;
    border: 1px solid black;
}


/*about*/

.about {
    padding: 0 !important;
}

.about-div {
    height: 544px;
}

.skills.container {
    /*float: left;*/
    margin-left: 15%;
}

.skills.container p {
    font-size: 11pt;
}

.skills.row {
    background: lightgrey;
    padding-bottom: 50px;
}

.skill-group {
    margin-bottom: 40px;
    padding-left: 0;
}

.headshot {
    height: 170px;
    border-radius: 50%;
}

.about-image {
    position: absolute;
    right: 0;
}

.iceland-image {
    height: 544px;
    width: 339px;
}

.about-text {
    margin-left: 15%;
    z-index: 10000
}


/*work*/


/*.height-wrapper {
    height: 686px;
    overflow-y: auto
}
*/

@media (max-width: 680px) {
    /*about*/
    .about-text {
        margin-left: 0;
        color: #fefff6;
        background: rgba(1, 1, 1, .7);
        height: 544px;
    }
    .nav-div a {
        font-size: 1.2em;
    }
    .nav-div span {
        padding-left: 3%;
        padding-right: 3%;
    }
    .skills.container {
        margin-left: 0;
    }
}

@media (max-width: 360px) {
    .nav-div span {
        padding-left: 0;
        padding-right: 0;
    }
}
