<div class="nav-div">
    <span class="col-sm-3">
                        <a class="white" ui-sref="about">About</a>
                    </span>
    <span class="col-sm-3">
                        <a class="white" ui-sref="work">Work</a>
                    </span>
    <span class="col-sm-3">
                         <a class="white" ui-sref="contact">Contact</a>
                    </span>
    <span class="col-sm-3">
                        <a class="white btn-descrip" href="https://resume.creddle.io/resume/43h1c6zva1p" target="_blank">Resume</a>
                    </span>
</div>
