<div id="about-wrapper" class="about container-fluid">
    <div class="about-div row">
        <div class="about-text col-md-6 col-sm-5 col-xs-12">
            <h2 class="letter-spaced">About Me</h2>
            <p>Full-stack web developer based in Seattle, Wa. Influenced by my background in astrophysics and Engineering, I am constantly striving to find the elegant solution for any problem. Intrigued by functionality, efficiency and responsivity</p>
            <hr>
            <p>In my spare time I can be found in the outdoors, climbing rocks.</p>
            <!-- <img class="headshot" src="../img/headshotsquare.jpg" alt=""> -->
        </div>
        <div class="about-image pull-right">
            <img class="iceland-image" src="img/icelandcropsmall.png" alt="">
        </div>
    </div>
    <div class="skills row ">
        <div class="skills container">
            <div class="row">
                <h2 class="letter-spaced">Skills</h2>
            </div>
            <div class="row">
                <div class="col-md-4 skill-group">
                    <p>
                        LANGUAGES
                        <br>HTML5, CSS3, JavaScript, SQL, Ruby
                    </p>
                </div>
                <div class="col-md-4 skill-group">
                    <p>
                        FRAMEWORKS
                        <br>React, Angular, Rails, Express, Node
                    </p>
                </div>
                <div class="col-md-4 skill-group">
                    <p>
                        LIBRARIES
                        <br>Bootstrap, Bcrypt, Passport, jQuery
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 skill-group">
                    <p>
                        DATABASES
                        <br>NoSQL, Mongoose, MongoDB, Sequelize, PostgreSQL
                    </p>
                </div>
                <div class="col-md-4 skill-group">
                    <p>
                        OTHER
                        <br>Agile, JWT, AJAX, Authentication, Encryption, RESTful Routing
                    </p>
                </div>
            </div>
            </h3>
        </div>
    </div>
</div>
