<div class="about">
    <div class="about-div">
        <div class="about-text inline-block">
            <h2 class="letter-spaced">About Me</h2>
            <div class="block devicons">
                <h3>
	              	<i class="devicon-javascript-plain"></i>
				          <i class="devicon-jquery-plain"></i>
				          <i class="devicon-nodejs-plain"></i>
				          <i class="devicon-angularjs-plain"></i>
				          <i class="devicon-html5-plain"></i>
				          <i class="devicon-css3-plain"></i>
				          <i class="devicon-postgresql-plain"></i>
				          <i class="devicon-mongodb-plain"></i>
				          <i class="devicon-heroku-original"></i>
				          <i class="devicon-python-plain"></i>
				          <i class="devicon-ruby-plain"></i>
				          <i class="devicon-rails-plain"></i>
			         </h3>
            </div>
            <p>Full-stack web developer based in Seattle, Wa. Influenced by my background in astrophysics and Engineering, I am constantly striving to find the elegant solution for any problem.</p>
            <hr>
            <p>In my spare time I can be found in the outdoors, climbing rocks.</p>
        </div>
        <div class="inline-block headshot">
            <img src="../img/headshotsquare.jpg" alt="">
        </div>
    </div>
    <div class="about-image">
        <img src="../img/icelandcrop.png" alt="">
    </div>
</div>
