<div id="contact-wrapper" class="contact-wrapper container">
    <h2 class="row letter-spaced">Contact Me</h2>
    <div class="row contact">
        <div class="col-md-6 col-xs-12 contact-info">
            <div class="row">
                <span><a href="mailto:mgoldstein@utexas.edu"><i class="fa fa-envelope"></i> mgoldstein@utexas.edu</a></span>
            </div>
            <br>
            <div class="row">
                <span><a href="http://linkedin.com/in/markdgold" target="_blank"><i class="fa fa-linkedin-square"></i> markdgold</a></span>
            </div>
            <br>
            <div class="row">
                <span><a href="http://github.com/markdgold" target="_blank"><i class="fa fa-github-square"></i> markdgold</a></span>
            </div>
        </div>
        <div class="contact-form-div col-md-6 col-xs-12">
            <form method="POST" action="http://formspree.io/mgoldstein@utexas.edu">
                <div class="form-group col-md-6">
                    <label>Your Name</label>
                    <input class="form-control" type="text" name="name">
                </div>
                <div class="form-group col-md-6">
                    <label>Your Email</label>
                    <input class="form-control" type="email" name="_replyto">
                </div>
                <div class="form-group col-xs-12">
                    <label>Your message</label>
                    <textarea rows="6" class="form-control" name="message"></textarea>
                </div>
                <div class="form-group col-xs-3">
                    <input class="btn btn-primary" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>
