<header class="text-center">
    <div class="header container">
        <div class="row flexrow main-title align-items-end">
            <div class="col-xs-12">
                <h1 class="white">Mark Goldstein</h1>
                <h2 class="white">Full-Stack Web Developer</h2>
            </div>
        </div>
    </div>
    <div class="nav-div">
        <span class="col-sm-3">
                        <a class="white" ui-sref="about">About</a>
                    </span>
        <span class="col-sm-3">
                        <a class="white" ui-sref="work">Work</a>
                    </span>
        <span class="col-sm-3">
                         <a class="white" ui-sref="contact">Contact</a>
                    </span>
        <span class="col-sm-3">
                        <a class="white btn-descrip" href="#" target="_blank">Resume</a>
                    </span>
    </div>
</header>
